// :root {
// 	--borde:  white;
// 	--fondo:  #168aad;

// }

/* Mapas */

	$paletaColores:(
		fondo2: #168aad,
		fondo1: #34a0a4,

	);


.contenido{
	background: map-get($paletaColores,fondo1);
	font-family: 'Grandstander', cursive;
	color: black;
	list-style-type: none;
	text-decoration-line: none;
}



.estrenos{
	padding-top: 1%;
}

.footer{
	border: solid black 2px;
	padding-top: 1%;
}

.boton{
	color: white;
	background: #34a0a4;
	border: solid white 2px;
}

.estrenos1 {
	border: solid white 2px;
	font-weight: 700;
	background: map-get($paletaColores,fondo2);
	padding: 1%;
}

a{
	color: black;
	list-style-type: none;
	text-decoration-line: none;

}

.contacto{
	background: white;
}

.texto{
	font-weight: 600;
}

.imagen1:hover .imagen {-webkit-transform:scale(1.3);transform:scale(1.3);}
.imagen1 {overflow:hidden;}


